<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<section class="app-body">
    <div class="list-body">
        <h1 class="list-title">To Do List</h1>
        <div class="titlebar">
            <div class="flex-to-row">
                <input class="task-create-title-input" type="text" [(ngModel)]="selectedTask.task_title" placeholder="Title">
                <div class="align-btn-to-r">
                    <button (click)="createTask(selectedTask)" class="btn-confirm">Save</button>
                    <button (click)="refreshTasks()" class="btn-cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="list-body list-body-scroll">
        <div *ngFor="let item of task" class="task-body" id="task-{{item.id}}">
            <div class="titlebar">
                <div class="task-mainicon task-notdone" *ngIf="item.task_completion == false" (click)="markAsDone(item)">
                    <span class="material-symbols-outlined">radio_button_unchecked</span>
                </div>
                <div class="task-mainicon task-done" *ngIf="item.task_completion == true" (click)="markAsNotDone(item)">
                    <span class="material-symbols-outlined">radio_button_checked</span>
                </div>
                <div>
                    <div class="task-title flex-to-column">
                        <span class="task-title-para">{{item.task_title}}</span>
                        <input class="task-title-input" type="text" [(ngModel)]="item.task_title" placeholder="Title">
                    </div>
                </div>
                <div class="task-sideicon taskicon-edit" (click)="showTaskDetails(item.id)">
                    <span class="material-symbols-outlined">edit_note</span>
                </div>
                <div class="task-sideicon taskicon-closeedit" (click)="hideTaskDetails(item.id)">
                    <span class="material-symbols-outlined">edit_note</span>
                </div>
                <div class="task-sideicon taskicon-delete" (click)="queueToDeletion(item)">
                    <span class="material-symbols-outlined">delete</span>
                </div>
            </div>
            <div class="task-details">
                <textarea class="task-desc-input" type="text" [(ngModel)]="item.task_description" placeholder="Description" rows="4"></textarea>
                <div class="flex-to-row">
                    <p style="margin-right: auto;">Created at: {{item.task_created_at}}</p>
                    <p style="margin-left: auto;">Updated at: {{item.task_updated_at}}</p>
                </div>
                <div class="flex-to-row gen-centerelements">
                    <button (click)="editTaskBody(item)" class="btn-confirm">Save</button>
                    <button (click)="cancelEditTaskBody(item)" class="btn-cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="list-body">
        <div class="ending">
            <p>
                Made by GSacata.
            </p>
        </div>
    </div>
</section>

<div class="popup-body" id="popup-canceltask">
    <div class="popup-shade">
        <div class="popup-canceltask-body gen-centertext">
            <p>Deleting '{{selectedTask.task_title}}'.<br>Are you sure?</p>
            <div class="flex-to-row popup-canceltask-btns">
                <button (click)="deleteTask(selectedTask)" class="btn-confirm">Yes</button>
                <button (click)="cancelDeleteTask()"  class="btn-cancel">No</button>
            </div>
        </div>
    </div>
</div>