<p>email-mod works!</p>

<section>
    <div>
        <input type="text" placeholder="your@email.com" [(ngModel)]="selectedEmail.email_address"><br>
        <input type="password" placeholder="xxxx xxxx xxxx xxxx" [(ngModel)]="selectedEmail.email_password">
    </div>
    <div>
        <button type="button" (click)="addNewItem(selectedEmail)">Save</button>
        <button (click)="editAndTestEmail(selectedEmail)">Test email</button>
    </div>
<!-- 
    <label for="item-input">Add an item:</label>
    <input type="text" id="item-input" #newItem> -->
</section>