<section class="list-body email-box">
    <div>
        <input type="text" placeholder="your@email.com" class="email-input" [(ngModel)]="selectedEmail.email_address"><br>
        <input type="password" placeholder="xxxx xxxx xxxx xxxx" class="password-input" [(ngModel)]="selectedEmail.email_password">
    </div>
    <div class="email-btn-box">
        <button type="button" (click)="addNewItem(selectedEmail)" class="btn-confirm">Save</button>
        <button (click)="testEmail(selectedEmail)" class="btn-confirm">Test email</button>
    </div>
<!-- 
    <label for="item-input">Add an item:</label>
    <input type="text" id="item-input" #newItem> -->
</section>