/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --primary: #C4E8FB;
    --prim-green: #CDFBC4;
    --prim-purple: #F2C4FB;
    --prim-orange: #FBD6C4;
    --secondary: #0C6A9B;
}
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 1000 */

/* border: solid 1px #000000; DEV-ER */

.roboto-flex {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
    /* background-color: var(--primary); */
    background-color: #DEFFFD;
    /* background-image: linear-gradient(45deg, #FFFFEA, #FFFFB7); */
}

p, h1, div, textarea {
    font-family: "Roboto Flex", sans-serif;
    color: var(--secondary);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    width: 25%;
}

.tdlst-main-title {
    text-align: center;
}

.tdlst-body-div {
    width: 100%;
    max-width: 700px;
    margin: 2rem auto;
}

.tdlst-crud {
    border: solid 2px var(--secondary);
    border-radius: 15px;
    background-color: var(--primary);
    /* box-shadow: 0px 2px 10px 2px #00527c; */
}

.tdlst-title-div {
    width: 80%;
    margin: 1rem auto;
    text-align: center;
    padding: 1rem;
}

.tdlst-crud-editbody-1 {
    display: flex;
    flex-direction: row;
}

.tdlst-crud-editbody-2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1.2;
    font-size: 16px;
    width: 100%;
}

.tdlst-crud-editbody-2 > input {
    font-size: 16px;
}

.tdlst-crud-taskcompletion {
    margin-bottom: auto;
    margin-right: 2rem;
}

.tdlst-crud-tasktitle {
    width: 100%;
    background-color: #e6f5fd;
    color: var(--secondary);
    border-radius: 3px;
    border: solid 1px var(--secondary);
    margin-bottom: 1rem;
    line-height: 2;
}

.tdlst-crud-taskdesc {
    width: 100%;
    background-color: #e6f5fd;
    color: var(--secondary);
    border-radius: 3px;
    border: solid 1px var(--secondary);
    height: 80px;
    text-wrap: wrap;
}

.tdlst-crud-buttonsdiv {
    text-align: center;
}

.tdlst-button {
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 10px;
    width: 90%;
}

.tdlst-create {
    background-color: var(--prim-green);
}

.tdlst-edit {
    background-color: var(--prim-purple);
}

.tdlst-delete {
    background-color: var(--prim-orange);
}

.tdlst-refresh {
    background-color: var(--prim-orange);
}

.titlebar {
    display: flex;
    flex-direction: row;
    border: solid 2px var(--secondary);
    border-radius: 10px;
    margin: 1rem 0rem;
    padding: 1rem;
    background-color: var(--primary);
}

.task-mainicon {
    width: 10%;
    text-align: center;
    margin: 0rem;
}

.task-sideicon {
    width: 5%;
    text-align: center;
    margin: 0rem;
}

.task-title {
    width: 100%;
}

.task-details {
    width: 100%;
    display: none !important;
}

.ending {
    text-align: center;
}

.flex-to-column {
    display: flex;
    flex-direction: column;
}

.flex-to-row {
    display: flex;
    flex-direction: row;
}

.list-body {
    width: 100%;
    max-width: 700px;
    margin: 2rem auto;
}